<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Hood:mtaa' %}">Mtaa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myaccounts:test' %}">Test accounts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-1">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hood</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Hood</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myaccounts:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Hood:mtaa' %}">Hoods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myaccounts:login' %}">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myaccounts:register' %}">Sign Up</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
